<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. A 4px left border for the activated or hovered menu item.">
    <meta name="keywords" content="sidebar, bordery">

    <title>Bordery Sidebar &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="../assets/css/core.min.css" rel="stylesheet">
    <link href="../assets/css/app.min.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" href="../assets/img/favicon.png">
  </head>

  <body>

    <!-- Preloader -->
    <div class="preloader">
      <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
      </div>
    </div>


    <!-- Sidebar -->
    <aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
      <header class="sidebar-header">
        <a class="logo-icon" href="../index.html"><img src="../assets/img/logo-icon-light.png" alt="logo icon"></a>
        <span class="logo">
          <a href="../index.html"><img src="../assets/img/logo-light.png" alt="logo"></a>
        </span>
        <span class="sidebar-toggle-fold"></span>
      </header>

      <nav class="sidebar-navigation">

        <div class="sidebar-profile">
          <div class="dropdown">
            <span class="dropdown-toggle no-caret" data-toggle="dropdown"><img class="avatar" src="../assets/img/avatar/1.jpg" alt="..."></span>
            <div class="dropdown-menu open-top-center">
              <a class="dropdown-item" href="#"><i class="ti-user"></i> Profile</a>
              <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
              <a class="dropdown-item" href="#"><i class="ti-help"></i> Help</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="ti-power-off"></i> Logout</a>
            </div>
          </div>
          <div class="profile-info">
            <h4>Maryam Amiri</h4>
            <p>Web developer</p>
          </div>
        </div>

        <ul class="menu menu-lg menu-bordery">

          <li class="menu-item active">
            <a class="menu-link" href="#">
              <span class="icon ti-home"></span>
              <span class="title">
                <span>Dashboard</span>
                <small>8 new update</small>
              </span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="#">
              <span class="icon ti-briefcase"></span>
              <span class="title">Projects</span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="#">
              <span class="icon ti-user"></span>
              <span class="title">Clients</span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="#">
              <span class="icon ti-email"></span>
              <span class="title">Messages</span>
              <span class="badge badge-pill badge-info">2</span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="#">
              <span class="icon ti-settings"></span>
              <span class="title">Settings</span>
            </a>
          </li>

        </ul>
      </nav>

    </aside>
    <!-- END Sidebar -->


    <!-- Topbar -->
    <header class="topbar">
      <div class="topbar-left">
        <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>

        <a class="topbar-btn d-none d-md-block" href="#" data-provide="fullscreen tooltip" title="Fullscreen">
          <i class="material-icons fullscreen-default">fullscreen</i>
          <i class="material-icons fullscreen-active">fullscreen_exit</i>
        </a>

        <div class="dropdown d-none d-md-block">
          <span class="topbar-btn" data-toggle="dropdown"><i class="ti-layout-grid3-alt"></i></span>
          <div class="dropdown-menu dropdown-grid">
            <a class="dropdown-item" href="../dashboard/general.html">
              <span data-i8-icon="home"></span>
              <span class="title">Dashboard</span>
            </a>
            <a class="dropdown-item" href="../page/gallery.html">
              <span data-i8-icon="stack_of_photos"></span>
              <span class="title">Gallery</span>
            </a>
            <a class="dropdown-item" href="../page/search.html">
              <span data-i8-icon="search"></span>
              <span class="title">Search</span>
            </a>
            <a class="dropdown-item" href="../page-app/calendar.html">
              <span data-i8-icon="calendar"></span>
              <span class="title">Calendar</span>
            </a>
            <a class="dropdown-item" href="../page-app/chat.html">
              <span data-i8-icon="sms"></span>
              <span class="title">Chat</span>
            </a>
            <a class="dropdown-item" href="../page-app/mailbox.html">
              <span data-i8-icon="invite"></span>
              <span class="title">Emails</span>
            </a>
            <a class="dropdown-item" href="../page-app/users.html">
              <span data-i8-icon="contacts"></span>
              <span class="title">Contacts</span>
            </a>
            <a class="dropdown-item" href="../widget/chart.html">
              <span data-i8-icon="bar_chart"></span>
              <span class="title">Charts</span>
            </a>
            <a class="dropdown-item" href="../page/profile.html">
              <span data-i8-icon="businessman"></span>
              <span class="title">Profile</span>
            </a>
          </div>
        </div>

        <div class="topbar-divider d-none d-md-block"></div>

        <div class="lookup d-none d-md-block topbar-search" id="theadmin-search">
          <input class="form-control w-300px" type="text">
          <div class="lookup-placeholder">
            <i class="ti-search"></i>
            <span><strong>Try</strong> button, slider, modal, etc.</span>
          </div>
        </div>
      </div>

      <div class="topbar-right">
        <a class="topbar-btn" href="#qv-global" data-toggle="quickview"><i class="ti-align-right"></i></a>

        <div class="topbar-divider"></div>

        <ul class="topbar-btns">
          <li class="dropdown">
            <span class="topbar-btn" data-toggle="dropdown"><img class="avatar" src="../assets/img/avatar/1.jpg" alt="..."></span>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="../page/profile.html"><i class="ti-user"></i> Profile</a>
              <a class="dropdown-item" href="../page-app/mailbox.html">
                <div class="flexbox">
                  <i class="ti-email"></i>
                  <span class="flex-grow">Inbox</span>
                  <span class="badge badge-pill badge-info">5</span>
                </div>
              </a>
              <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../page-extra/user-lock-1.html"><i class="ti-lock"></i> Lock</a>
              <a class="dropdown-item" href="../page-extra/user-login-3.html"><i class="ti-power-off"></i> Logout</a>
            </div>
          </li>

          <!-- Notifications -->
          <li class="dropdown d-none d-md-block">
            <span class="topbar-btn has-new" data-toggle="dropdown"><i class="ti-bell"></i></span>
            <div class="dropdown-menu dropdown-menu-right">

              <div class="media-list media-list-hover media-list-divided media-list-xs">
                <a class="media media-new" href="#">
                  <span class="avatar bg-success"><i class="ti-user"></i></span>
                  <div class="media-body">
                    <p>New user registered</p>
                    <time datetime="2017-07-14 20:00">Just now</time>
                  </div>
                </a>

                <a class="media" href="#">
                  <span class="avatar bg-info"><i class="ti-shopping-cart"></i></span>
                  <div class="media-body">
                    <p>New order received</p>
                    <time datetime="2017-07-14 20:00">2 min ago</time>
                  </div>
                </a>

                <a class="media" href="#">
                  <span class="avatar bg-warning"><i class="ti-face-sad"></i></span>
                  <div class="media-body">
                    <p>Refund request from <b>Ashlyn Culotta</b></p>
                    <time datetime="2017-07-14 20:00">24 min ago</time>
                  </div>
                </a>

                <a class="media" href="#">
                  <span class="avatar bg-primary"><i class="ti-money"></i></span>
                  <div class="media-body">
                    <p>New payment has made through PayPal</p>
                    <time datetime="2017-07-14 20:00">53 min ago</time>
                  </div>
                </a>
              </div>

              <div class="dropdown-footer">
                <div class="left">
                  <a href="#">Read all notifications</a>
                </div>

                <div class="right">
                  <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
                  <a href="#" data-provide="tooltip" title="Update"><i class="fa fa-repeat"></i></a>
                  <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
                </div>
              </div>

            </div>
          </li>
          <!-- END Notifications -->

          <!-- Messages -->
          <li class="dropdown d-none d-md-block">
            <span class="topbar-btn" data-toggle="dropdown"><i class="ti-email"></i></span>
            <div class="dropdown-menu dropdown-menu-right">

              <div class="media-list media-list-divided media-list-hover media-list-xs scrollable" style="height: 290px">
                <a class="media media-new" href="../page-app/mailbox-single.html">
                  <span class="avatar status-success">
                    <img src="../assets/img/avatar/1.jpg" alt="...">
                  </span>

                  <div class="media-body">
                    <p><strong>Maryam Amiri</strong> <time class="float-right" datetime="2017-07-14 20:00">23 min ago</time></p>
                    <p class="text-truncate">Authoritatively exploit resource maximizing technologies before technically.</p>
                  </div>
                </a>

                <a class="media media-new" href="../page-app/mailbox-single.html">
                  <span class="avatar status-warning">
                    <img src="../assets/img/avatar/2.jpg" alt="...">
                  </span>

                  <div class="media-body">
                    <p><strong>Hossein Shams</strong> <time class="float-right" datetime="2017-07-14 20:00">48 min ago</time></p>
                    <p class="text-truncate">Continually plagiarize efficient interfaces after bricks-and-clicks niches.</p>
                  </div>
                </a>

                <a class="media" href="../page-app/mailbox-single.html">
                  <span class="avatar status-dark">
                    <img src="../assets/img/avatar/3.jpg" alt="...">
                  </span>

                  <div class="media-body">
                    <p><strong>Helen Bennett</strong> <time class="float-right" datetime="2017-07-14 20:00">3 hours ago</time></p>
                    <p class="text-truncate">Objectively underwhelm cross-unit web-readiness before sticky outsourcing.</p>
                  </div>
                </a>

                <a class="media" href="../page-app/mailbox-single.html">
                  <span class="avatar status-success bg-purple">FT</span>

                  <div class="media-body">
                    <p><strong>Fidel Tonn</strong> <time class="float-right" datetime="2017-07-14 20:00">21 hours ago</time></p>
                    <p class="text-truncate">Interactively innovate transparent relationships with holistic infrastructures.</p>
                  </div>
                </a>

                <a class="media" href="../page-app/mailbox-single.html">
                  <span class="avatar status-danger">
                    <img src="../assets/img/avatar/4.jpg" alt="...">
                  </span>

                  <div class="media-body">
                    <p><strong>Freddie Arends</strong> <time class="float-right" datetime="2017-07-14 20:00">Yesterday</time></p>
                    <p class="text-truncate">Collaboratively visualize corporate initiatives for web-enabled value.</p>
                  </div>
                </a>

                <a class="media" href="../page-app/mailbox-single.html">
                  <span class="avatar status-success">
                    <img src="../assets/img/avatar/5.jpg" alt="...">
                  </span>

                  <div class="media-body">
                    <p><strong>Freddie Arends</strong> <time class="float-right" datetime="2017-07-14 20:00">Yesterday</time></p>
                    <p class="text-truncate">Interactively reinvent standards compliant supply chains through next-generation bandwidth.</p>
                  </div>
                </a>
              </div>

              <div class="dropdown-footer">
                <div class="left">
                  <a href="#">Read all messages</a>
                </div>

                <div class="right">
                  <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
                  <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
                </div>
              </div>

            </div>
          </li>
          <!-- END Messages -->

        </ul>

      </div>
    </header>
    <!-- END Topbar -->


    <!-- Main container -->
    <main>

      <header class="header bg-ui-general">
        <div class="header-info">
          <h1 class="header-title">
            <strong>Bordery</strong> sidebar
            <small>A 4px left border for the activated or hovered menu item.</small>
          </h1>
        </div>

        <div class="header-action">
          <nav class="nav">
            <a class="nav-link active" href="sidebar.html">Variations</a>
            <a class="nav-link" href="sidebar-doc.html">Documentation</a>
          </nav>
        </div>
      </header><!--/.header -->


      <div class="main-content">


        <div class="card">
          <h4 class="card-title"><strong>Layout</strong></h4>

          <div class="card-body">
            <div class="row gap-y text-center">
              <div class="col-md-6 col-xl-4">
                <p class="fs-15">Default</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-default.html">
                  <img src="../assets/img/preview/sidebar-default.png" alt="Sidebar default page">
                </a>
              </div>


              <div class="col-md-6 col-xl-4">
                <hr class="d-md-none">
                <p class="fs-15">Icons boxed</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-icons-boxed.html">
                  <img src="../assets/img/preview/sidebar-icons-boxed.png" alt="Sidebar icons boxed page">
                </a>
              </div>


              <div class="col-md-6 col-xl-4">
                <hr class="d-xl-none">
                <p class="fs-15">Icons right</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-icons-right.html">
                  <img src="../assets/img/preview/sidebar-icons-right.png" alt="Sidebar icons right page">
                </a>
              </div>


              <div class="col-md-6 col-xl-4">
                <hr>
                <p class="fs-15">Icons right boxed</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-icons-right-boxed.html">
                  <img src="../assets/img/preview/sidebar-icons-right-boxed.png" alt="Sidebar icons boxed right page">
                </a>
              </div>


              <div class="col-md-6 col-xl-4">
                <hr>
                <p class="fs-15">Sidebar folded 1</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-folded-1.html">
                  <img src="../assets/img/preview/sidebar-folded-1.png" alt="Sidebar folded page 1">
                </a>
              </div>


              <div class="col-md-6 col-xl-4">
                <hr>
                <p class="fs-15">Sidebar folded 2</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-folded-2.html">
                  <img src="../assets/img/preview/sidebar-folded-2.png" alt="Sidebar folded page 2">
                </a>
              </div>
            </div>
          </div>
        </div>



        <div class="card">
          <h4 class="card-title"><strong>Menu</strong> types</h4>

          <div class="card-body">
            <div class="row gap-y text-center">
              <div class="col-md-6 col-xl-4">
                <p class="fs-15">Iconic</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-iconic.html">
                  <img src="../assets/img/preview/sidebar-iconic.png" alt="Sidebar iconic page">
                </a>
              </div>


              <div class="col-md-6 col-xl-4">
                <hr class="d-md-none">
                <p class="fs-15 fw-400">Bordery</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-3 shadow-4" href="sidebar-bordery.html">
                  <img src="../assets/img/preview/sidebar-bordery.png" alt="Sidebar bordery page">
                </a>
              </div>
            </div>
          </div>
        </div>




        <div class="card">
          <h4 class="card-title"><strong>Menu indicator</strong> types</h4>

          <div class="card-body">
            <p>Default menu indicator of current documetation is <code>icon</code> for menus, and <code>dot</code> for submenus. Apart from them, you are able to use characters or even empty space.</p>
            <br>
            <div class="row gap-y text-center">
              <div class="col-md-6 col-xl-4">
                <p class="fs-15">Icon</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-indicator-icon.html">
                  <img src="../assets/img/preview/sidebar-indicator-icon.png" alt="Sidebar indicator icon page">
                </a>
              </div>


              <div class="col-md-6 col-xl-4">
                <hr class="d-md-none">
                <p class="fs-15">Character</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-indicator-char.html">
                  <img src="../assets/img/preview/sidebar-indicator-char.png" alt="Sidebar indicator character page">
                </a>
              </div>


              <div class="col-md-6 col-xl-4">
                <hr class="d-xl-none">
                <p class="fs-15">Empty space</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-indicator-empty.html">
                  <img src="../assets/img/preview/sidebar-indicator-empty.png" alt="Sidebar indicator empty space page">
                </a>
              </div>
            </div>
          </div>
        </div>





        <div class="card">
          <h4 class="card-title"><strong>Skins</strong></h4>

          <div class="card-body">
            <div class="row gap-y text-center">
              <div class="col-md-6 col-xl-4">
                <p class="fs-15">Light</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-skin-light.html">
                  <img src="../assets/img/preview/sidebar-skin-light.png" alt="Sidebar skin light page">
                </a>
              </div>


              <div class="col-md-6 col-xl-4">
                <hr class="d-md-none">
                <p class="fs-15">Dark</p>
                <a class="d-block b-1 border-light hover-shadow-2 p-1" href="sidebar-skin-dark.html">
                  <img src="../assets/img/preview/sidebar-skin-dark.png" alt="Sidebar skin dark page">
                </a>
              </div>
            </div>
          </div>
        </div>


      </div><!--/.main-content -->


      <!-- Footer -->
      <footer class="site-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center text-md-left">Copyright © 2017 <a href="http://thetheme.io/theadmin">TheAdmin</a>. All rights reserved.</p>
          </div>

          <div class="col-md-6">
            <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
              <li class="nav-item">
                <a class="nav-link" href="../help/articles.html">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../help/faq.html">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://themeforest.net/item/theadmin-responsive-bootstrap-4-admin-dashboard-webapp-template/20475359?license=regular&amp;open_purchase_for_item_id=20475359&amp;purchasable=source&amp;ref=thethemeio">Purchase Now</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- END Footer -->

    </main>
    <!-- END Main container -->



    <!-- Global quickview -->
    <div id="qv-global" class="quickview" data-url="../assets/data/quickview-global.html">
      <div class="spinner-linear">
        <div class="line"></div>
      </div>
    </div>
    <!-- END Global quickview -->



    <!-- Scripts -->
    <script src="../assets/js/core.min.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/js/script.min.js"></script>

  </body>
</html>
